<ngx-spinner type="line-spin-fade">
    <h3>
        Loading...
    </h3>
</ngx-spinner>
<app-nav></app-nav>
<div class="container-flex" style="margin-top: 15px;">

    <ul>
        <router-outlet></router-outlet>
    </ul>
      
<footer>
    <div class="footer">
        <hr>
        <p class="text-center">Copyright ©2023 | Designed by Hradyska</p>
        <ul class="social_footer_ul">
            <li>
                <a 
                    href="https://www.linkedin.com/in/larysa-hradyska/"          title="LinkedIn">
                    <i class="fa fa-linkedin fa-lg" ></i>
                </a>
            </li>
            <li>
                <a 
                href="https://github.com/Hradyska" 
                title="GitHub">
                <i class="fa fa-github fa-lg"></i>
                </a>
             </li>
        </ul>              
    </div>
</footer>
</div>


