<div class="container-flex">
    <div class="text-center mt-3">
    <h2>
        Your matches - {{pagination?.totalItems}} found
    </h2>
</div>
    <div class="btn-group" dropdown  #dropdown="bs-dropdown" [autoClose]="false" [insideClick]="true">
      <button id="button-custom-html" dropdownToggle type="button" class="btn btn-primary dropdown-toggle"
              aria-controls="dropdown-custom-html">
        Filter <span class="caret"></span>
      </button>
 
    <ul id="dropdown-custom-html" *dropdownMenu class="dropdown-menu">
    <div class="container mt-3" *ngIf="userParams" >
  
        
    <form #form="ngForm" class="col mb-3" (ngSubmit)="loadMembers()" autocomplete="off">
        <div class="d-flex mx-2">
          <label class="col-form-label">Age from: </label>
           <input 
                type="number" 
                class="form-control ms-1" 
                style="width:70px" 
                name="minAge" 
                [(ngModel)]="userParams.minAge"
            >
        </div>
        <div class="d-flex mx-2">
            <label class="col-form-label">Age to: </label>
            <input 
                type="number" 
                class="form-control ms-1" 
                style="width:70px" 
                name="maxAge" 
                [(ngModel)]="userParams.maxAge"
            >
        </div>

        <div class="d-flex px-2">
            <label class="col-form-label me-2">Show: </label>
            <select 
             name="gender" 
             style="width: 130px;" 
             class="form-select ms-1" 
             [(ngModel)]="userParams.gender">
             <option *ngFor="let gender of genderList" [value]="gender.value">
            {{gender.display}}
             </option>
            </select>
        </div>
    <div class="col mt-3">
        <div class="btn-group float-end mt-3">
        <button class="btn btn-primary" type="submit">Apply Filter</button>
        <button (click)="resetFilters()" class="btn btn-secondary" type="submit" >Reset Filter</button>
        </div>
    </div>

        <div class="col mt-3">
            <div class="btn-group float-end">
                <button 
                    type="button"
                    class="btn btn-primary" 
                    name="orderBy" 
                    [(ngModel)]="userParams.orderBy"
                    btnRadio="lastActive"
                    (click)="loadMembers()">
                    Last Active
                </button>
                 <button 
                    type="button"
                    class="btn btn-primary" 
                    name="orderBy" 
                    [(ngModel)]="userParams.orderBy"
                    btnRadio="created"
                    (click)="loadMembers()">
                    Newest members
                </button>
            </div>
        </div>
    <hr>
        <div>
             <button type="button" class="btn btn-danger mt-3" (click)="dropdown.hide()">Hide filter</button>
        </div>
        
    </form>

</div>
    </ul>
    </div>

<div class="row mt-3">
    <div class="card-list" *ngFor="let member of members">
        <app-member-card [member]="member"></app-member-card>
    </div>
</div>

<div class="d-flex justify-content-center" *ngIf="pagination">
        <pagination 
        [boundaryLinks]="true" 
        [totalItems]="pagination.totalItems"
        [itemsPerPage]="pagination.itemsPerPage"
        [(ngModel)]="pagination.currentPage"
        (pageChanged)="pageChanged($event)"
        [maxSize]="10"
        previousText="&lsaquo;" 
        nextText="&rsaquo;" 
        firstText="&laquo;" 
        lastText="&raquo;">   
    </pagination>
</div>
</div>